<div class="home" ng-controller="ContentController">
	{{$routeParams.id}}
	<div class="main" ng-repeat="main in content.main">
	        <h2 class="main headlines">{{main.headLine}}</h2>
	        <!-- <h3 class="main snippet">{{main.snippet}}</h3>
	        <h4 class="main fullStory">{{main.fullStory}}</h4> -->
	    </div>
	    <div class="aside" ng-repeat="aside in content.aside">
	        <h2 class="aside headlines">{{aside.headLine}}</h2>
	        <!-- <h3 class="aside location">{{aside.location}}</h3>
	        <h4 class="aside fullStory">{{aside.fullStory}}</h4> -->
	    </div>
	</div>
</div>