<!-- This page will contain the json objects from the featured articles https-->

<div class="main">
    <div class="container">
        <div class="top_nav"> <i class="fa fa-bars"></i> <span style="color:#cccccc">SECTIONS </span> </div>
        <div class= "top_nav"> <i class="fa fa-search"></i> <span style="color:#cccccc"> SEARCH </span> </div>
        <h1 id="title">Captech.Io.News</h1>
        <h2>Recent Posts</h2>
            <div class="featured" ng-repeat="content in contents">
                <a href="#/content/{{$index}}">
                    <p class="headLine">{{content.headLine}}</p>
                </a>

            </div>

    </div>
</div>
