/* app css stylesheet */

/*
Our custom CSS to control the look and feel of the site.
Select DOM elements based on their name,
class (.), or ID (#) and define their styles here.
*/
body {
  font-size: 1.5em;
  color: #444;
}

.top_nav{
  font-family: Arvo;
  color: #333333;
  display: block;
  margin-right: 12px;
  float: left;
}

#title {
  font-family: Arvo;
  color: #333333
  font-size: 48px;
  font-weight: bold;
  display: block;
  text-align: center;
  border-top: 2px solid black;
  margin-left: 300px;
  margin-right: 300px;

}

#date {
  font-family: Arvo;
  font-size: 19px;
  color: #333333
  display: block;
  text-align: center;
  border-bottom: 2px solid black;
  margin-top: -5px;

}

ul {
  list-style: none;
  margin-left: 300px;
  margin-right: 300px;
}
li {
  font-family: Arvo;
  font-size: 20px;
  float: left;
  padding: 10px 10px 10px 10px;
  color: #000000;
}

#mainView {
  clear: both;
  padding: 0 1em;
}
.active {
  background-color: #FFF;
  color: #000;
  font-weight: bold;
}


.home {
  display: inline-block;
}

/*-------------------------Home Page Aside-------------------*/

.aside {
  font-family: Arvo;
  text-align: left;
  margin:0px 630px 0px 0px;
}

.aside h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  color: #000000;
}

.aside h3 {
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: #333333;
}

/*-------------------------Home Page Main-------------------*/
.main {
  font-family: Arvo;
  text-align: left;
  margin:0px 400px 0px 150px;
}

.main h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  color: #000000;
}

.main h3 {
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: #333333;
}

/*-------------------------Home Page Opinion-------------------*/
.opinion {
  font-family: Arvo;
  text-align: left;
  margin:0px 0px 0px 300px;
}

.opinion h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  color: #000000;
}

.opinion h3 {
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: #333333;
}

/*-------------------------Home Page Travel-------------------*/
.travel {
  font-family: Arvo;
  text-align: left;
  margin:0px 0px 0px 300px;
}

.travel h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  color: #000000;
}

.travel h3 {
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: #333333;
}